<div class="jumbtron">
    <h1 class="d-flex justify-content-center">Product List Screen</h1>
    <hr>   
</div>

Search  Product by name : 
<input   [(ngModel)]="searchKeyword" (ngModelChange)="Search()"  class="form-control"   > 
<hr>

  <table class="table table-hover">
    <thead class="thead-light">
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Created Date</th>
      <th>Action</th>
      <th>
        <a class="btn btn-outline-success" routerLink="/products"><i class="fa fa-plus-square"></i> Create Inventory</a>
      </th>
    </thead>
    <tbody>
      <!-- | filter:searchedKeyword -->
      <tr *ngFor="let prd of service.list  ">
        <td >{{prd.productName}}</td>
        <td >{{prd.productPrice}}</td>
        <td >{{prd.productQuantity}}</td>
        <td >{{prd.productCreatedDate | date: 'dd/MM/yyyy'}}</td>
        <td><button  (click)="populateForm(prd)"   class="btn btn-sm btn-outline-success">Update</button></td>
      </tr>
    </tbody>
  </table>