<form [formGroup]="productForm" autocomplete="off"  (ngSubmit)="onSubmit()">
  <input type="hidden"  name="productId"  formControlName="productId">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input  id="productName"   formControlName="productName" class="form-control"  >
         <div class="validation-error"
            *ngIf="productForm.get('productName').invalid 
              && productForm.get('productName').touched 
              && productForm.get('productName').hasError('required')">
              This field is required.           
          </div>  
          <div class="validation-error" 
          *ngIf="productForm.get('productName').invalid 
                  && productForm.get('productName').touched 
                  && productForm.get('productName').hasError('maxlength')">
          Maximum length must not be greater than 50
         </div>
         <div class="validation-error" *ngIf="productForm.get('productName').invalid 
         && productForm.get('productName').touched 
         && productForm.get('productName').hasError('minlength')">
          Minimum length must be atleast 2
        </div>
            </div>                     
           </div>       
      <div class="form-group">
        <label>Price</label>
        <input  type="number" formControlName="productPrice"  class="form-control"  >
        <div class="validation-error"
        *ngIf="productForm.get('productPrice').invalid 
          && productForm.get('productPrice').touched 
          && productForm.get('productPrice').hasError('required')">
          This field is required.           
      </div>     
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="form-group">
        <label>Quantity</label>
        <input  type="number" formControlName="productQuantity"    class="form-control"  >
        <div class="validation-error"
        *ngIf="productForm.get('productQuantity').invalid 
          && productForm.get('productQuantity').touched 
          && productForm.get('productQuantity').hasError('required')">
          This field is required.           
      </div>  
      </div>
      <div class="form-group">
        <label></label>
        <div class="input-group">
          <div class="input-group-prepend">         
          </div>
        </div>
      </div>
    </div>
    <div  class="col-md-12 "> 
      <div class="form-group">
        <button type="submit" [disabled]="!productForm.valid" style="width:100px" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="reset" style="width:100px" class="btn btn-dark"><i class="fa fa-database"  ></i> Clear</button>
           </div>
      </div>
  </div>
  
  
</form>